<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Cabin+Condensed&family=Concert+One&family=Pacifico&family=Paytone+One&display=swap" rel="stylesheet">    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/estilos-pasatiempo.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="animate__animated  animate__rubberBand navbar-brand" href="introduccion.html">Project0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="introduccion.html">Introducción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="estudios.html">Estudios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gustos.html">Gustos</a>
            </li>
            <li class="nav-item">
            </li>    
          </ul>
        </div>  
      </nav>
    <section>
        <div class="servicios">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-alien-8bit"></i>
                        </div>
                        <h3>Jojos</h3>
                        <p>
                            «JoJo’s Bizarre Adventure» es un anime de fantasía sobrenatural que cuenta la historia de intensas rivalidades, manifestaciones psicoespirituales con extrañas habilidades y giros inesperados. El espectáculo se centra principalmente en las emocionantes expediciones de JoJo y sus descendientes.
                        </p>
                        <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-alien-8bit"></i>
                    </div>
                    <h3>Sono Bisque Doll wa Koi wo Suru</h3>
                    <p>
                        Es una serie donde el protagonista es un amante de las muñecas japonesas Hina y desea algún día convertirse en un gran artesano para poder crear dichas muñecas, por la rareza de su pasión ha sido victima de bullying, lo que hace que este desarrolle una naturaleza tímida.
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-alien-8bit"></i>
                    </div>
                    <h3>FRUITS BASKET</h3>
                    <p>
                        Una chica de secundaria llamada Toru se le muere su madre y al no tener donde ir (ya que su único pariente su abuela estaba arreglando la casa) decide vivir sola en una tienda de campaña en un terreno vacío sin saber de que era de propiedad de los Soma
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-alien-8bit"></i>
                    </div>
                    <h3>CHOBITS</h3>
                    <p>
                        Nuestro protagonista llamado Hideki Motosuwa fue a la gran ciudad para poder entrar a la universidad (después de ser rechazado), pero con carencia de dinero no puedo conseguir una Persocons, es así que por su suerte encuentra una tirada en la basura, después de comprobar que era una Persocons
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">APADRINAR</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-alien-8bit"></i>
                    </div>
                    <h3>SAILOR MOON</h3>
                    <p>
                        Todo comienza cuando una adolescente poco inteligente, torpe, muy despistada pero de un gran corazón llamada Serena salva a una gata de unos niños que la molestaba, esta tenía una bandita en la cabeza y cuando se lo quita Serena ve que ocultaba una luna
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-alien-8bit"></i>
                    </div>
                    <h3>YU-GI-OH!</h3>
                    <p>
                        Todo comienza con una introducción en donde se explica que en el antiguo egipto los reyes jugaban el Juego de la Sombra que casi trajo la destrucción al mundo pero un joven faraón logró encerrar la magia en 7 Artículos del Milenio
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>