<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Cabin+Condensed&family=Concert+One&family=Pacifico&family=Paytone+One&display=swap" rel="stylesheet">    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/estilos-pasatiempo.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="animate__animated  animate__rubberBand navbar-brand" href="introduccion.html">Project0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="introduccion.html">Introducción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="estudios.html">Estudios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gustos.html">Gustos</a>
            </li>   
          </ul>
        </div>  
      </nav>
    <section>
        <div class="servicios">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="icon-wrapper">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h3>Pablo Picasso</h3>
                        <p>
                            Algunas de las pinturas más famosas de Picasso:
                            <br>
                            "Guernica" (1937)
                            <br>
                            "Las señoritas de Avignon" (1907).
                            <br>
                            "Los tres músicos" (1921).
                            <br>
                            "Retrato de Dora Maar" (1937).
                        </p>
                        <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                      <i class="fas fa-people-carry"></i>
                    </div>
                    <h3>Vincent Van Gogh</h3>
                    <p>
                        Algunas de las pinturas más famosas de Van Gogh:
                        <br>
                        "La noche estrellada" (1889).
                        <br>
                        "Terraza de café por la noche" (1888).
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                      <i class="fas fa-people-carry"></i>
                    </div>
                    <h3>Salvador Dalí</h3>
                    <p>
                        Algunas de las pinturas más famosas de Dalí:
                        <br>
                        "La persistencia de la memoria" (1931).
                        <br>
                        "La metamorfosis de Narciso" (1937).
                        <br>
                        "Cristo de San Juan de la Cruz" (1951).
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>