<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Cabin+Condensed&family=Concert+One&family=Pacifico&family=Paytone+One&display=swap" rel="stylesheet">    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/estilos-pasatiempo.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="animate__animated  animate__rubberBand navbar-brand" href="introduccion.html">Project0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="introduccion.html">Introducción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="estudios.html">Estudios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gustos.html">Gustos</a>
            </li> 
          </ul>
        </div>  
      </nav>
    <section>
        <div class="servicios">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-scroll"></i>
                        </div>
                        <h3>Oyasumi punpun</h3>
                        <p>
                            Oyasumi Punpun (おやすみ プンプン lit. Buenas noches, Punpun?) es un manga japonés escrito e ilustrado por Inio Asano. La historia sigue a Onodera Punpun, un niño normal que debe hacer frente a sus amigos y familia disfuncional, su interés amoroso, su adolescencia en sentido contrario y su mente hiperactiva. A medida que la vida de Punpun se vuelve cada vez más caótica, comienza a tratar temas del existencialismo y nihilismo. La historia a menudo es elogiada por los muchos puntos de vista filosóficos presentados por cada personaje.
                        </p>
                        <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-scroll"></i>
                    </div>
                    <h3>Neon genesis evangelion</h3>
                    <p>
                        Neon Genesis Evangelion, también conocida simplemente como Evangelion, o Eva, es una serie de anime creada por el estudio Gainax y dirigida por Hideaki Anno. La historia de la obra se da lugar en un mundo futurista en el que una organización paramilitar llamada NERV protege a la humanidad de los ataques de seres de origen y naturaleza desconocidos, los «Ángeles», utilizando para ello bio mechas humanoides llamados Evangelion A medida que avanza la trama, esta se vuelve paulatinamente más confusa y psicológica, se hacen cada vez más inestables 
                    </p>
                    <a href="#" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-scroll"></i>
                    </div>
                    <h3>Berserk</h3>
                    <p>
                        Berserk (ベルセルク) es un manga creado por Kentaro Miura y posteriormente adaptado en anime, con un estilo épico fantástico y de fantasía oscura. Miura publicó un prototipo de Berserk en 1988. El manga comenzó a publicarse al año siguiente en la extinta revista mensual Animal House, hasta que fue reemplazada en 1992 por la revista quincenal Young Animal, donde fue publicado irregularmente hasta el 2021 tras la muerte de su autor. Internamente, está dividido en sagas que, a su vez, se subdividen en capítulos. Estos están formados por episodios, nombre dado a las publicaciones individuales en la revista Young Animal.
                    </p>
                    <a href="/Usuario/Animales" style="font-family: 'Paytone One', sans-serif;" class="btn btn-white btn-animated">Ver más</a>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>